{% extends 'layout.html' %}

{% block body %}
   <br><br><br>
  <h1>About Us</h1>
 <p>O Lord, You have searched me and known me.
2 You know my sitting down and my rising up;
You understand my thought afar off.
3 You [a]comprehend my path and my lying down,
And are acquainted with all my ways.
4 For there is not a word on my tongue,
But behold, O Lord, You know it altogether.
5 You have [b]hedged me behind and before,
And laid Your hand upon me.
6 Such knowledge is too wonderful for me;
It is high, I cannot attain it.</p>
{% endblock %}